.uk-subnav-pill li a {
    color: black !important;
}

.uk-subnav-pill .uk-active a {
    background-color: black;
    color: white !important;
}

.thumbnail {
    position: relative;
    /* width: 200px; */
    height: 200px;
    overflow: hidden;
}
.thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.thumbnail img.portrait {
    width: 100%;
    height: auto;
}

.cut-text {
    text-overflow: ellipsis;
    overflow: hidden;
    /* width: 160px; */
    height: 1.5em;
    white-space: nowrap;
}
